.brand {
  display: inline-block;
  background-color: #584a4aba;
  opacity: 0;
  z-index: 50;
  border: 1px solid #302c2c9f;
  height: 0;
  width: 0;
  padding: 2.2%;
  overflow: hidden;
  border-radius: 140px;
  margin-top: 5vh;
}

.show {
  opacity: 0.9;
  transform: translateX(100);
  height: auto;
  width: auto;
}

@keyframes show {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }
  25% {
    opacity: 0.3;
    height: 50vh;
    width: 10vw;
  }
  50% {
    opacity: 0.6;
    height: 30vh;
    width: 15vw;
  }
  100% {
    opacity: 0.9;
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  .brand img {
    margin-top: 5vh;
  }
}

.brand img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.image-container {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
